.error-container {
  background: linear-gradient(-30deg, #03a9f4 0%, #3a78b7 50%, #262626 50%, #607d8b 100%);
  filter: hue-rotate(120deg);
  animation: animate 5s linear infinite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
    color: #fff;
}

.error-content {
  text-align: center;
  color: #fff;
}

.error-content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.error-content p {
  font-size: 2rem;
}
