.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;

  color: linear-gradient(-30deg, #03a9f4 0%, #3a78b7 50%, #262626 50%, #607d8b 100%);
  filter: hue-rotate(120deg);
  animation: animate 5s linear infinite;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links li a {
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.nav-links li a:hover {
 color: linear-gradient(-30deg, #03a9f4 0%, #3a78b7 50%, #262626 50%, #607d8b 100%);
  filter: hue-rotate(120deg);
  animation: animate 5s linear infinite;
}


.nav-toggle {
  display: none;
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-toggle {
    display: block;
  }

  .nav-toggle:hover {
    color: #f00;
  }

  .nav-active {
    opacity: 1;
    visibility: visible;
  }
}
